$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background-color: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#showcase {
  position: relative;
  background: url(../img/mountains.jpg);
  min-height: 600px;

  .showcase-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: solid 1px #ddd;
}

.cursor-pointer {
  cursor: pointer;
}

#about-section {
  position: relative;
}

#about-section::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,799bc8+96 */
  background: #3292a6; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #d2dfed 0%,
    #c8d7eb 26%,
    #3292a6 96%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #d2dfed 0%,
    #c8d7eb 26%,
    #3292a6 96%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #d2dfed 0%,
    #c8d7eb 26%,
    #3292a6 96%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#3292a6',GradientType=0 ); /* IE6-9 */

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: circle(6.4% at 0 93%);
}

#about-section::after {
  position: absolute;
  content: "";
  background: #489cb0;
  background: -moz-linear-gradient(top, #489cb0 0%, #c8d7eb 26%, #3292a6 96%);
  background: -webkit-linear-gradient(
    top,
    #489cb0 0%,
    #c8d7eb 26%,
    #3292a6 96%
  );
  background: linear-gradient(to bottom, #4b9db1 0%, #c8d7eb 26%, #3292a6 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#3292a6',GradientType=0 );
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: circle(10.4% at 100% 0);
}

#author-section {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary;
    color: #fff;
  }

  .card:hover .text-muted {
    color: #fff !important;
  }

  .fab {
    color: #fff;
  }
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
    h1 {
      font-size: 3.5rem;
    }
  }
}
